//****************
//  Colors
//****************
$yellow: #f0c52e;
// $light-yellow: #f7e184;
$gray: #464646;
// $text-color: #000000;

//****************
//  Breakpoints
//****************
// $breakpoint-desktop: 1280px;
// $breakpoint-laptop: 950px;
// $breakpoint-tablet: 760px;
// $breakpoint-mobile: 480px;

//****************
//  Fonts
//****************
$font-gilroy: 'Gilroy', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;