//****************
//  Colors
//****************
$yellow: #f0c52e;
$yellow-light: #f7e296;
$yellow-text: #f7e184;
$gray: #464646;

//****************
//  Fonts
//****************
$font-gilroy: 'Gilroy', 'Arial', sans-serif;
$font-open-sans: 'Open Sans', 'Arial', sans-serif;
